In [2]:
#Set a database URL
from sqlalchemy.engine.url import URL

postgres_db = {'drivername': 'postgres',
               'username': 'postgres',
               'password': 'postgres',
               'host': '192.168.99.100',
               'port': 5432}
print(URL(**postgres_db))

sqlite_db = {'drivername': 'sqlite', 'database': 'db.flightsqlite'}
print(URL(**sqlite_db))

postgres://postgres:postgres@192.168.99.100:5432
sqlite:///db.flightsqlite

In [3]:
#Create a database housed in memory--no file
import sqlalchemy
sqlalchemy.create_engine('sqlite:///db.flightsqlite')

Engine(sqlite:///db.flightsqlite)

In [4]:
from sqlalchemy import create_engine

#Create Engine
DBInfo = 'sqlite:///db.flightsqlite'
engine = create_engine('sqlite:///db.flightsqlite')

#Connect to the database
conn = engine.connect()

In [ ]:
#Create Specific Table
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from sqlalchemy import Integer, String, Date
from sqlalchemy import ForeignKey

meta = MetaData(engine)
t1 = Table('NumFlights_Data', meta,
           Column('ID', Integer, primary_key=True),
           Column('ORIGIN',String),
           Column('FL_DATE',Date),
           Column('FLIGHTS',Integer))
t2 = Table('Flights_Data', meta,
           Column('ID', Integer, primary_key=True),
           Column('ORIGIN', String, ForeignKey("NumFlights_Data.ORIGIN")),
           Column('DEST',String),
           Column('DISTANCE',Integer))
t1.create()
t2.create()

# Create all tables in meta
meta.create_all()

# insert multiple data
conn.execute(NumFlights_Data.insert(),[
    {'ORIGIN':'LAX','FL_DATE':'2017-05-01','FLIGHTS':'1.00'},
    {'ORIGIN':'LAX','FL_DATE':'2017-05-01','FLIGHTS':'1.00'},
    {'ORIGIN':'SAN','FL_DATE':'2017-05-01','FLIGHTS':'1.00'},
    {'ORIGIN':'SFO','FL_DATE':'2017-05-01','FLIGHTS':'1.00'},
    {'ORIGIN':'JFK','FL_DATE':'2017-05-01','FLIGHTS':'1.00'}])


# insert multiple data
#conn.execute(table.insert(),[
conn.execute(Flights_Data.insert(),[
    {'DEST':'IAD','DISTANCE':'2288.00'},
    {'DEST':'IAD','DISTANCE':'2288.00'},
    {'DEST':'SFO','DISTANCE':'447.00'},
    {'DEST':'EWR','DISTANCE':'2565.00'},
    {'DEST':'SFO','DISTANCE':'2586.00'},])

In [ ]:
#SELECT , WHERE QUERY
#(Selects the airport "origin" and "destination"
#with distance miles > 50000 ) in descending order with a limit of 5 results

from sqlalchemy import select
from sqlalchemy import sql, select, join, desc

# Auto-create the city object based on the metadata read into the DBInfo.
Flight_Distance=Table('Flight_Distance', DBInfo, autoload=True)

query=select([Flight_Distance.c.ID, Flight_Distance.c.ORIGIN, Flight_Distance.c.DEST, Flight_Distance.c.DISTANCE])\
             .where(Flight_Distance.c.DISTANCE < 5000)\
             .order_by(desc(Flight_Distance.c.DISTANCE))\
             .limit(5)
result = conn.execute(query)
for row in result:
    print(row)

In [ ]:
#QUERY JOIN
#Looking for flights with destination "SFO"
#SELECT ID from table NumFlights_Data,
#JOIN DEST from table Flights_Data 
#WHERE DEST = 'SFO'
query = session.query(DEST).select_from(Flights_Data).\
                join(NumFlights_Data.ID).\
                filter(Flights_Data.DEST == 'SFO')
result = conn.execute(query)
for row in result:
    print(row)